.H {
  color: red;
  font-size: 250%
}

#MT {
  font-size: 100%
}

#first-section {
  color: blue;
  background-color: #DC143C;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 100px;
  top: 200px;
  border-spacing: 5px;
  z-index: 2;
}

#second-section {
  background-color: #B22222;
  width: 200px;
  height: 200px;
  position: relative;
  height: 5000px;
  z-index: 1;

}
