.H {
  color: red;
  font-size: 250%
}

#MT {
  font-size: 100%
}

#first-section {
  color: blue;
  background-color: #DC143C;
  width: 200px;
  height: 200px;
  float: left;
}

#second-section {
  background-color: #B22222;
  width: 200px;
  height: 200px;
  float: left;
}

.clear-float {
  clear: both;
}
