.H {
  color: red;
  font-size: 250%
}

#MT {
  font-size: 100%
}

#first-section {
  color: blue;
  background-color: #DC143C;
  padding: 50px;

}

#second-section {
  background-color: #B22222;
  padding: 50px;


}

#paragraph {
  font-family: fantasy;
  text-decoration: none;
}

h1 {
  padding-bottom: 50px;
}

body {
  min-width: 70%;
  margin-top: 0;
  padding-top: 0;

  margin-left: 15%;
  margin-right: 15%;
}

.square {
  height: 100px;
  width: 100px;
  float: left;
  margin: 40px;
  border: 5px orange solid;
  border-color: black;
  border-radius: 50%;
}


#square-red {
  background-color: red;

}

#square-blue {
  background-color: blue;

}

#square-green {
  background-color: green;

}
